<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ugikpoenya.imageeditor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".editor.PhotoApp"
        android:theme="@style/Theme.ImageEditor">
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name=".ImageEraserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ImageEditorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>